main {
  width: 1224px;
  align-self: center;
  position: relative; /* 기준 위치 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  position: absolute;
  bottom: -30px; /* 하단에서 20px */
  right: -30px; /* 우측에서 20px */
  z-index: 100;
  padding: 10px 15px;
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.top > p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #262b3f;
  margin-top: 1.24px;
  justify-self: center;
}

.login-check {
  display: flex;
  align-items: center;
}

h2 {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #29363d;
  margin-top: 80px;
}

form {
  margin-top: 40px;
  width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px;
  /* gap: 24px; */
}

.register {
  margin-top: 40px;
  margin-bottom: 274px;
}

form > div > p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;

  /* Neutral/N300 */
  color: #788991;

  margin-bottom: 4px;
}

.id > input,
.pw > input {
  /* Neutral/N20 */
  background: #f4f5f5;
  border-radius: 5px 5px 0px 0px;

  width: 392px;
  height: 48px;

  border: none;

  border-bottom: 1px solid #a0acb1;
}

.id {
  margin-top: 40px;
}
.pw {
  margin-top: 24px;
}

.login-check {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-check > input {
  width: 18px;
  height: 18px;

  /* Neutral/N300 */
  border: 2px solid #788991;
  border-radius: 3px;
}

.login-check > p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #29363d;

  margin-left: 5px;
}

form > button {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;

  width: 392px;
  height: 48px;

  /* success */
  background: #2e6ff2;
  border-radius: 5px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.register > a:first-child::after {
  content: "";
  height: 8px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin-left: 16px;
  margin-right: 16px;
}

.register > a {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #767676;

  margin-top: 40px;
}
